<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lijianqing.springcloud.dao.DeptDao">

    <insert id="addDept" parameterType="com.lijianqing.springcloud.pojo.Dept">
        insert into dept (dname, db_sourece)
        values (#{dname}, DATABASE());
    </insert>

    <select id="queryById" resultType="com.lijianqing.springcloud.pojo.Dept" parameterType="Long">
        select * from dept where deptno = #{deptno};
    </select>

    <select id="queryAll" resultType="com.lijianqing.springcloud.pojo.Dept">
        select * from dept;
    </select>
</mapper>



